<head>
  <link rel="stylesheet" href="../styleSheets/styles.css">
</head>

<div style="float:left; width:550px; margin:60px;">
  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
      <li ng-class="{ active:vm.isSelected(1)}">
	<a href="/adminHome" ng-click="vm.selectTab(1)">View Report</a>
      </li>
      <li ng-class="{ active:vm.isSelected(2)} ">
	<a href="/adminHome" ng-click="vm.selectTab(2)">Add Study Location</a>
      </li>
      <li ng-class="{ active:vm.isSelected(3)} ">
	<a href="/adminHome" ng-click="vm.selectTab(3)">Users</a>
      </li>
      <li ng-class="{ active:vm.isSelected(4)} ">
	<a href="/adminHome" ng-click="vm.selectTab(4)">Delete</a>
      </li>
    </ul>
  </div>
  
  <div class="col-md-8">
    <div ng-show="vm.isSelected(1)">
      <div class="container">
	<br>
	<table>
	  <tr>
	    <th>Report Code</th>
	    <th>Reporter</th>
	    <th>Reportee</th>
	    <th>Date Submitted</th>
	    <th>Date Submitted</th>
	    <th></th>
	  </tr>
	  <tr ng-repeat="report in vm.reports" align="center">
	    <td>{{report.id}}</td>
	    <td>{{report.reporter}}</td>
	    <td>{{report.reportee}}</td>
	    <td>{{report.date_submitted}}</td>
	    <td><button class="btn btn-info btn-xs" ng-click="vm.openReportDetail(report.id, report.reporter, report.reportee,report.comments)">VIEW</button></td>

	  </tr>
	</table>

	<!-- Modal -->
	<div id="reportViewModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title"><b>Report</b></h4>
	      </div>
	      <div class="modal-body">
		<p>Report Code: {{vm.currentID}}</p>
		<p>Reporter: {{vm.currentReporter}}</p>
		<p>Reportee: {{vm.currentReportee}}</p>
		<p>Comment:{{vm.currentComment}}</p>

		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
            </div>
          </div>
	</div>
      </div>
    </div>

    <div ng-show="vm.isSelected(2)">
      <div>Building: <select ng-model="vm.selectedBuilding" ng-change="vm.updateBuilding()" id="buildingSelect">
          <option value="" disabled selected hidden>Buildings</option>
          <option ng-repeat="building in vm.buildings">{{building["name"]}}</option>
          <option value="addBuilding">Add New Building</option>
	</select>
	<input id= "newBuilding" type="textbox" ng-model="vm.newBuilding" style="height:26px; margin-left:5px; padding-left:3px; visibility: hidden;"/>
	<button id = "makeBuilding"ng-click="vm.makeBuilding()" style="visibility: hidden;">add Building</button>
      </div>

      <div> {{vm.buildingStatus}}</div>
      <div> {{vm.roomStatus}}</div>

      <div>Room Number: <select ng-model="vm.selectedRoom" ng-change="vm.updateRoom()" id="roomSelect">
          <option value="" disabled selected hidden>Rooms</option>
          <option ng-repeat="room in vm.rooms | filter:vm.selectedBuildingID">{{room.room_num}}</option>
          <option value="addRoom">Add New Room</option>
	</select>
	<input id= "newRoom" type="textbox" ng-model="vm.newRoom" style="height:26px; margin-left:5px; padding-left:3px; visibility: hidden;"/>

	<button id = "makeRoom" ng-click="vm.makeRoom()" style="visibility: hidden;">add Room</button>
      </div>

      <!-- <div> Max Capacity:
	   <input id = "maxCapacity" type="text" ng-model="vm.maxCapacity" style="height:26px; margin-left:5px; padding-left:3px;"></textarea>
</div> -->
    </div>

    <div ng-show="vm.isSelected(3)">

      <table>
	<tr>
          <th>ID</th>
          <th>UserName</th>
          <th>Email</th>
	</tr>
	<tr ng-repeat="user in vm.users" align="center">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
	</tr>
      </table>
    </div>

    <div ng-show="vm.isSelected(4)">
      <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteAllModal">Delete Database</button>

      <!-- Modal -->
      <div id="deleteAllModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">&times;</button>
	      <h4 class="modal-title"><b>Warning</b></h4>
	    </div>
	    <div class="modal-body">
	      <h4>Are you sure you want to delete the database and its contents?</h4>
	      <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
	      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
