<div style="float:left; width:550px; margin:60px;">
  <ul class="nav nav-pills">
    <li ng-class="{ active:vm.isSelected(1)}"> 
      <a href="/adminHome" ng-click="vm.selectTab(1)">View Report</a> 
    </li>
    <li ng-class="{ active:vm.isSelected(2)} "> 
      <a href="/adminHome" ng-click="vm.selectTab(2)">Add Study Location</a> 
    </li>
    <li ng-class="{ active:vm.isSelected(3)} "> 
      <a href="/adminHome" ng-click="vm.selectTab(3)">Search</a> 
    </li>
    <li ng-class="{ active:vm.isSelected(4)} "> 
      <a href="/adminHome" ng-click="vm.selectTab(4)">Delete</a> 
    </li>
  </ul>

  <irontec-simple-chat
     messages="vm.messages"
     username="vm.username"
     input-placeholder-text="You can write here"
     submit-button-text="Send your message"
     title="Super Awesome Chat"
     theme="material"
     submit-function="vm.sendMessage"
     visible="vm.visible"
     expand-on-new="vm.expandOnNew">
  </irontec-simple-chat>  

  <div ng-show="vm.isSelected(1)">
    <div class="container">
      <br>
      <center>
	<table class="table table-hover table-bordered table-condensed">
	  <thead>
	    <tr>
	      <th>Report Code</th>
	      <th>Date Submitted</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="report in vm.reports" align="center">
	      <td>{{report.code}}</td>
	      <td>{{report.date}}</td>
	      <td><button class="btn btn-info btn-xs" data-toggle="modal" data-target="#reportViewModal">VIEW</button></td>
	      <!-- Modal -->
	      <div id="reportViewModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		  
		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title"><b>Report</b></h4>
		    </div>
		    <div class="modal-body">
		      <h4>Report Submitted By: </h4>
		      <h4>Report Regarding: </h4>
		      <h4>Submitted Message: </h4>
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	      </div>
	    </tr>
	  </tbody>
	</table>
    </div>
  </div>

  <div ng-show="vm.isSelected(2)">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Building
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li ng-repeat="building in vm.buildings">{{building}}</li>
      </ul>
    </div>

    <div style="margin:10px;">Building:  
      <input type="text" ng-model="vm.studyLocation.building" style="height:26px; margin-left:5px; padding-left:3px;"></textarea>
    </div>

    <div style="margin:10px;">Room Number:
      <input type="text" ng-model="vm.studyLocation.roomNum" style="height:26px; margin-left:5px; padding-left:3px;"></textarea>
    </div>

    <div style="margin:10px;">Max Capacity:
      <input type="text" ng-model="vm.studyLocation.maxCapacity" style="height:26px; margin-left:5px; padding-left:3px;"></textarea>
    </div>

  </div>

  <div ng-show="vm.isSelected(3)">
    <div style="margin:10px;">Username:  
      <input type="text" ng-model="vm.usernameTemp" style="height:26px; margin-left:5px; padding-left:3px;"></textarea>
    </div>
  </div>

  <div ng-show="vm.isSelected(4)">
    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteAllModal">Delete Database</button>
    
    <!-- Modal -->
    <div id="deleteAllModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

	<!-- Modal content -->
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title"><b>Warning</b></h4>
	  </div>
	  <div class="modal-body">
	    <h4>Are you sure you want to delete the database and its contents?</h4>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	  </div>
	</div>
      </div>
    </div>
  </div>

</div>


