<div style="float:left; width:550px; margin:60px;">
  <ul class="nav nav-pills">
    <li ng-class="{ active:vm.isSelected(1)}"> 
      <a href="/adminHome" ng-click="vm.selectTab(1)">View Report</a> 
    </li>
    <li ng-class="{ active:vm.isSelected(2)} "> 
      <a href="/adminHome" ng-click="vm.selectTab(2)">Add Study Location</a> 
    </li>
    <li ng-class="{ active:vm.isSelected(3)} "> 
      <a href="/adminHome" ng-click="vm.selectTab(3)">Search</a> 
    </li>
    <li ng-class="{ active:vm.isSelected(4)} "> 
      <a href="/adminHome" ng-click="vm.selectTab(4)">Delete</a> 
    </li>
  </ul>

  <div ng-show="vm.isSelected(1)">
    <h1>Tab 1</h1>
  </div>

  <div ng-show="vm.isSelected(2)">
    <h1>Tab 2</h1>  
  </div>

  <div ng-show="vm.isSelected(3)">
    <h1>Tab 3</h1>  
  </div>

  <div ng-show="vm.isSelected(4)">
    <br>
    <h1>Tab 4</h1>
    <button>Delete Database?</button>
  </div>

</div>
