<!--LEFT COLUMN CONTENT: TABS-->
<div >
	<ul class="nav nav-pills center-pills" role="tablist">
		<li ng-class="{active:vm.isSelected(1)}">
			<a href="/home" ng-click="vm.selectTab(1)">Search</a>
		</li>
		<li ng-class="{active:vm.isSelected(2)}">
			<a href="/home" ng-click="vm.selectTab(2)">Create Group</a>
		</li>
		<li ng-class="{active:vm.isSelected(3)}">
			<a href="/home" ng-click="vm.selectTab(3)">Join Private Group</a>
		</li>
	</ul>
	<!--SEARCH TAB-->
	<div class="searchTab">
		<div ng-show="vm.isSelected(1) && vm.showSearchResults===false">
			<h3>Class</h3>
			<center>
			<div><select ng-model="vm.selectedSubject">
				<option value="" disabled selected hidden>Subject</option>
				<option ng-repeat="subject in vm.subjects">{{subject}}</option>
			</select></div>
			<div><select ng-model="vm.selectedClass">
				<option value="" disabled selected hidden>Class</option>
				<option ng-repeat="class in vm.classes">{{class}}</option>
			</select></div>
			<div><select ng-model="vm.selectedSection">
				<option value="" disabled selected hidden>Section</option>
				<option ng-repeat="section in vm.sections">{{section}}</option>
			</select></div>
			<div><input type="radio" ng-model="vm.selectedOpen" value="Open"/> Open groups only</div>
			<div><h3><button ng-click="vm.showSearchResults=true" class="btn btn-primary btn-sm"> Search </button></h3></div>
			</center>
		</div>
	</div>
	<!--CREATE GROUP TAB-->
	<div class="createTabs">
		<div ng-show="vm.isSelected(2)">
			<h5 style="margin-top:25px; margin-bottom:35px;">
			<div style="margin:10px;">Group Name:  <input type="text" ng-model="vm.createGroup.groupName" style="height:26px;margin-left:5px; padding-left:3px;"></textarea></div>
			<div style="margin:10px;">
				Class Info:
				<select ng-model="vm.createGroup.groupSubject">
					<option value="" disabled selected hidden>Subject</option>
					<option ng-repeat="subject in vm.subjects">{{subject}}</option>
				</select>
				<select ng-model="vm.createGroup.groupClass">
					<option value="" disabled selected hidden>Class</option>
					<option ng-repeat="class in vm.classes">{{class}}</option>
				</select>
				<select ng-model="vm.createGroup.groupSection">
					<option value="" disabled selected hidden>Section</option>
					<option ng-repeat="section in vm.sections">{{section}}</option>
				</select>
			</div>
			<div style="margin:10px;">Maximum Number of Members
				 <input type="text" ng-model="vm.createGroup.groupMaxMembers" style="height:26px; width:40px; margin-left:5px; padding-left:3px;"></textarea>
				 (default:30)</div>
			<div style="margin:10px;">Access Type</div>
			<div style="margin:10px;">
				<input type="radio" name="setAccess" ng-model="vm.createGroup.groupAccessType" value="2" style="margin-left:24px;"/> Open
				<input type="radio" name="setAccess" ng-model="vm.createGroup.groupAccessType" value="1" style="margin-left:24px;"/> Closed
				<input type="radio" name="setAccess" ng-model="vm.createGroup.groupAccessType" value="0" style="margin-left:24px;"/> Private
			</div>
			<div style="margin:10px;">Meeting Permission for Members</div>
			<div style="margin:10px;">
				<input type="radio" name="setPerms" ng-model="vm.createGroup.groupPermissionLevel" value="2" style="margin-left:24px;"/> Anyone
				<input type="radio" name="setPerms" ng-model="vm.createGroup.groupPermissionLevel" value="1" style="margin-left:24px;"/> Creator Nominated & Creator
				<input type="radio" name="setPerms" ng-model="vm.createGroup.groupPermissionLevel" value="0" style="margin-left:24px;"/> Creator Only
			</div>
			<div style="margin:30px;" align="center">
				<button class="btn btn-primary btn-sm" ng-click="vm.selectTab(1)"> Cancel </button>
				<button class="btn btn-primary btn-sm" ng-click="vm.createGroup()" style="margin-left:30px;"> Create Group </button>
				{{vm.status}}
			</div>
			</h5>
		</div>
	</div>

	<!--JOIN PRIVATE GROUP TAB-->
	<div ng-show="vm.isSelected(3)">
		<h4 style="margin-top:50px; margin-bottom:35px;">Group Access Code:
			<input type="text" ng-model="vm.privateCodeToSubmit" placeholder="Type Code Here" style="height:28px;margin-left:15px; padding-left:3px;"></textarea>
		</h4>
		<div align="center"><button ng-click="vm.showSearchResults=false" class="btn btn-primary btn-sm"> Join </button></div>
	</div>
	<!--SEARCH RESULTS-->
	<div ng-show="vm.isSelected(1) && vm.showSearchResults===true">
		<h3>Search results</h3>
		
		<table style="width:100%; border:1px solid black;">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Owner</th>
			<th># Members</th>
			<th>Type</th>
		</tr>
			<tr ng-repeat="group in vm.currentGroups | filter:vm.selectedClass | filter:vm.selectedSubject | filter:vm.selectedSection | filter:vm.selectedOpen" style="border:1px solid black;">
				<td>{{group["id"]}}</td>
				<td>{{group["groupName"]}}</td>
				<td>{{group["groupOwner"]}}</td>
				<td>{{group["memberCount"]}}</td>
				<td>{{group["access"]}}</td>
				<td><button > Join </button></td>
			</tr>
		</table>
		<div align="center"><button ng-click="vm.showSearchResults=false" class="btn btn-primary btn-md"> New Search </button></div>
	</div>
</div>
<!--RIGHT COLUMN CONTENT:  CURRENT GROUPS/CALENDAR/UPCOMING MEETINGS-->
<div style="float:right; width:300px; margin:10px;">
	<!--GROUPS-->
	<div style="border-style:solid; border-width:3px; padding:10px">
		<h3>Current Groups</h3>

		<ul ng-repeat="group in vm.currentGroups">
			<li>{{group["className"]}}</li>
		</ul>


	</div>
	<!--CALENDAR-->
	<div style="height:230px; border-style:solid; border-width:3px; padding:5px">

			<div pickadate ng-model="vm.date" format="mm/dd/yyyy"></div>
			<!-- The below line will be commented out, just here now to show that it's working-->
			<div class="selected-date">Selected date is {{vm.date || '(no date selected)'}}</div>

	</div>
	<!--MEETINGS-->
	<div style="border-style:solid; border-width:3px; padding:10px; height:150px; overflow:hidden; overflow-y:scroll;">
		<div>{{vm.calendarDate}}</div>
		<ul ng-repeat="meetingInfo in vm.currentMeetings" style="list-style: none; padding:0px;">
			<li ng-repeat="info in meetingInfo">{{info}}</li>
		</ul>
	</div>
</div>
