.navbar-nav li a:hover{
  color: #1abc9c !important;  /*Sets the text hover color on navbar*/
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-brand{
  height: 40;
  width: 250px;
  background-image:url("Logo.png");
  background-repeat: no-repeat;
  background-size: 230px, 10px;
  background-position: 10px;
}

.indexBody{
  background-color: #dbcb48;
  /*background-image: url("weather.png");*/
}
.center-pills { display: inline-block; }

select {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  margin: left;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
  select {
    background:none;
    padding: 5px;
  }
}
.calendar, .upcoming_events{
  height:250px;
  width:400px;
  border:3px solid black;
  position: relative;
  margin: 8px 10px;
}

.homeCalendar {
  border: 3px solid black;
  padding: 10px;
}

.creatorCalendar, .creatorUpcoming_events{
  height:250px;
  width:400px;
  border:3px solid black;
  position: relative;
  margin: 8px 10px;
}

.creatorEvents, .memberEvents{
  width:400px;
  float:right;
  position:fixed;
  top:70px;
  right:30px;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 8px 10px;
}



table{
  border-collapse: collapse;
  float: left;
}

th{
  padding: 5px;
  background-color: #B54626;
  color: white;
  border: 1px solid black;
}

td{
  padding: 5px;
  border: 1px solid black;
}

.messageGroup, .leaveGroup, .groupName{
  float: left;
}

.container{
  margin-left: 250px;
}

.messageGroup{
  margin: 20px 20px;
}

.leaveGroup{
  margin: 20px 5px;
}

.createTab{
  margin-top: 25px;
  margin-bottom: 35px;
}

.homeCalendar{
  height:230px;
  border: 3px solid black;
  padding:5px
}

.meetingDetail{
  border: 3px solid black;
  padding: 10px;
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.information{
  float:right;
  width:300px;
  margin:10px;
}

.tabs{
  height: 600px;
  float: left;
}

.currentGrps{
  border: 3px solid black;
  padding: 10px;
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.button{
  align: center;
}

.create,.location,.accessType,.permLevel{
  margin: 10px;
}

.chat{
  height:330px;
  width:600px;
  border:3px solid black;
  overflow-y: scroll;
}

.chatBoard{
  height: 400px;
  width:600px;
}

.groupSearchDetail{
  padding: 10px;
  height: 450px;
  overflow: hidden;
  overflow-y: scroll;
}

#comments{
  position: absolute;
  top: 400px;
  width: 500px;
  height: 50px;
}

#subMsg{
  position:absolute;
  top: 410px;
  left: 525px;
}
